
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jua jirani </title>
  </head>
  <body>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6"> <a href="{% url 'neighbor' %}" class="btn btn-sm animated-button ">join a group</a> </div>
    	</div>
    		<div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6"> <a href="#" class="btn btn-sm animated-button">create a profile</a> </div>
    	</div>
    		<div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6"> <a href="{% url 'new-neighbor' %}" class="btn btn-sm animated-button">add a neighbour</a> </div>
    	</div>
  </body>
</html>
