{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>jua jirani</title
  <link href="https://fonts.googleapis.com/css?family=Paytone+One|Playball" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="">
    <a class="navbar-brand" href="/"><b>Home</b></a>

  </div>
  {% if user.is_authenticated %}

  <div class="col-sm-4 col-md-4">

    <form action="{% url 'search_results' %}" role="search" class="navbar-form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Business" name="business">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">Search</button>
        </div>
      </div>
    </form>

  </div>

  {% endif %}

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse">
    <div class="navbar-nav" style="font-family: 'Paytone One', sans-serif; font-size:25px;">
      {% if user.is_authenticated %}
        <!-- <a class="nav-item nav-link active" href="/">Home</a> -->
        <a class="nav-item nav-link active" href="{% url 'profile' %}" style="color:white;">Profile</a>
        <a class="nav-item nav-link active" href="{% url 'neighbor' %}" style="color:white;">Neighbor</a>
        <a class="nav-item nav-link active" href="{% url 'business' %}" style="color:white;">Type of Business</a>
        <a class="navbar-text navbar-right" href="/logout">logout</a>
styl

        {% else %}

        <div class="login" "navbar-text navbar-right">
          <p>
            <a class="nav-item nav-link active" href="{% url 'auth_login' %}">Login</a> <br><br>
            <a href="/accounts/register/" class="nav-item nav-link active">Sign Up</a>

          </p>
        </div>

      {% endif %}

    </div>
  </div>
  </nav>
</body>

</html>
